.newsletter {
    background: #cae5f4;
    padding: 0;
    margin-top: 3rem;
}

.newsletter__img img {
    width: 100%;
}

/* CONTENT */
.newsletter__content {
    padding: 50px 0px;
}

.newsletter__content h2 {
    font-size: 2.5rem;   /* ❗ fixed typo (font-style → font-size) */
    margin-bottom: 2rem;
}

/* INPUT BOX */
.newsletter__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 6px;
}

.newsletter__input input {
    flex: 1;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.newsletter__input input:focus {
    outline: none;
}

.newsletter__btn {
  padding: 0.6rem 2rem !important;
  background-color: #f9a825 !important;
  color: #ffffff !important;

  font-size: 1.1rem !important;
  font-weight: 500;

  border: none !important;
  border-radius: 10px !important;

  cursor: pointer;
  outline: none;
  box-shadow: none !important;
}

/* PARAGRAPH */
.newsletter__content p {
    color: var(--heading-color);
    font-size: 1.1rem;
}
