.testimonials-section {
  background: #fff;
}

.testimonial-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


.testimonial-text {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-line-clamp: 5;       
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-height: calc(1.6em * 5);  
}


.testimonial-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}


.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  border: none;
  cursor: pointer;
}

.dot.active {
  background: #000;
}